.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.bum {
	display: flex;
	justify-self: center;
	align-items: center;
	flex-Direction: column;
	flex-Wrap: wrap;
	padding: 2px;
}

 @media only screen and (max-width: 550px){
.bum {
	flex-Direction: row;
}
}